doctype
html
    head
        title b185
        link(rel="stylesheet", type="text/css", href="index.scss")
        link(rel="stylesheet" , href="https://fonts.googleapis.com/icon?family=Material+Icons")
        meta(name="viewport", content="user-scalable=no, initial-scale=1")

    body
        a.overlay#long_modal(href="#")
            .walls
                .wall
                    .tray
                        .bar(image, style="background-image: url(https://jpg.cool/french.fries)")
                            h2 French Fries
                        ul
                            li 👍&nbsp; This is a list item
                            li 🍍&nbsp; This is a pineapple
                            li 🐒&nbsp; This is a monkey which has longer than anticipated text which might loop
                            li 👍&nbsp; This is a list item
                            li 🍍&nbsp; This is a pineapple
                            li 🐒&nbsp; This is a monkey which has longer than anticipated text which might loop
                            li 👍&nbsp; This is a list item
                            li 🍍&nbsp; This is a pineapple
                            li 🐒&nbsp; This is a monkey which has longer than anticipated text which might loop
                        input(type="text", placeholder="This is an input")
                        button Cancel
        a.overlay#short_modal(href="#")
            .walls
                .wall
                    .tray
                        .bar(image, style="background-image: url(https://jpg.cool/forest)")
                            h2 Some Random Forest
                            .icons
                                i.material-icons nature
                        p
                            | There are a lot of trees here in the woods
                        button Cancel
        a.overlay#menu(href="#")
            .menu
                button Home
                button License
        .walls(content)
            .wall
                .tray
                    .bar(sided)
                        h1 Hello, world.
                        i.material-icons close
                    p Welcome to the b185 widget demo page!
                .tray
                    .bar
                        h2 This is a subsection
                    p
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                    .bar(padded)
                        h2 Here are places to eat
                    .bundle
                        .bar(item)
                            .image(style="background-image: url(https://jpg.cool/bbq)")
                            .text
                                h3.title Stubb's BBQ
                                .subtitle Added 8/10/2012
                        .bar(item)
                            .image(style="background-image: url(https://jpg.cool/bouldin.creek.cafe)")
                            .text
                                h3.title Bouldin Creek Cafe
                                .subtitle Added 8/19/2013
                    hr
                    .bar(item)
                        .image(style="background-image: url(https://jpg.cool/bbq)")
                        .text
                            h3.title Stubb's BBQ
                            .subtitle Added 8/10/2012
                    hr
                    .bar(item)
                        .image(style="background-image: url(https://jpg.cool/bouldin.creek.cafe)")
                        .text
                            h3.title Bouldin Creek Cafe
                            .subtitle Added 8/19/2013
                    .bar(item)
                        .image(style="background-image: url(https://jpg.cool/bouldin.creek.cafe)")
                        .text
                            h3.title Bouldin Creek Cafe
                            .subtitle Added 8/19/2013
                    p
                        a(href="#menu") Pop out the hamburger menu
                    button This is a CTA
                .tray
                    .bar(image, style="background-image: url(https://jpg.cool/austin.tx)")
                        h2 Austin, TX
                        .icons
                            i.material-icons directions
                            i.material-icons save
                            i.material-icons people
                    ul
                        li 👍&nbsp; This is a list item
                        li 🍍&nbsp; This is a pineapple
                        li 🐒&nbsp; This is a monkey which has longer than anticipated text which might loop
                    input(type="text", placeholder="This is an input")
                    button Save

                .tray
                    .bar
                        h2 Write something really long?
                    textarea(placeholder="This is a text area")
                    input(type="file")
                    .bar(half_padded)
                        button Cancel
                        button Save
                    .bar(half_padded)
                        button Apples
                        button Oranges
                        button Pineapples
                .tray
                    .bar(sided)
                        h2 San Francisco
                        .icons
                            i.material-icons directions
                            i.material-icons share
                    .bar(image, style="background-image: url(https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/-122.4241,37.78,14.25,0,00/600x600?access_token=pk.eyJ1IjoiYWJlaXNncmVhdCIsImEiOiJrOEhRekZVIn0.9KVGXDIo5bd6pghddAd44Q)")
                        .icons
                            i.material-icons cloud_upload
                    .bar(half_padded)
                            a.button(href="#long_modal") Long Menu
                            a.button(href="#short_modal") Short Menu
                .tray
                    .bar
                        h3 The End
                    .bar(image, style="background-image: url(https://jpg.cool/explosion.gif)")
                p
