doctype
html
    head
        title b185
        link(rel="STYLESHEET", type="text/css", href="index.scss")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        .walls
            .wall
                .tray
                    h1 This is a second wall
                    p It has it's own trays and content

            .wall(style="width: 480px;")
                .tray
                    h1 Hello, world.
                    p Welcome to the b185 widget demo page!
                .tray
                    h2 This is a subsection
                    p
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                        | This is a bunch of normal text in a paragraph, nothing weird at all
                    button This is a CTA
                .tray
                    h2 Here's some actions
                    .bar
                        button Cancel
                        button Save
                    .bar
                        button Apples
                        button Oranges
                        button Pineapples
                    img(src="https://jpg.cool/fish.gif")
                    input(type="text", placeholder="This is an input")
                    button Save

                .tray
                    h2 Write something really long?
                    textarea(placeholder="This is a text area")
                    input(type="file")
                    .bar
                        button Cancel
                        button Save
                .tray
                    h3 The End
                    img(src="https://jpg.cool/explosion.gif")
