@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,500,700&display=swap');
@import "normalize.css/normalize.css";
@import "theme";

$spacing: 20px;
$roundness: 4px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans', sans-serif;
  display: grid;
  justify-items: center;
  background-color: $background;
}

a {
  color: black;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  overflow: hidden;
  cursor: inherit;

  &:target {
    width: 100%;
    height: 100%;
  }
}
.menu {
  position: absolute;
  height: 100%;
  left: 0px;
  width: 240px;
  background-color: white;
  box-shadow: 0px 0px 2px $shadow;
  padding: $spacing / 2;
  grid-gap: $spacing / 2;
  z-index: 2;

  display: grid;
  align-items: start;
  align-content: start;

  button {
    background-color: inherit;
    border: 1px solid #ddd;
    border-width: 0px 0px 1px 0px;
    padding: $spacing / 1.5 $spacing / 2 $spacing / 2 $spacing / 2;
    text-align: left;

    &:hover {
      background-color: #eee;
    }
  }
}

.walls {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: scroll;
}

.wall {
  max-width: 460px;
  margin: 0 auto;
  display: grid;
  grid-gap: $spacing;
  padding: $spacing / 2;
  transition: width 0.2s linear;

  &:not(:last-child) {
    opacity: 0.5;
    * {
      pointer-events: none;
    }
  }

  &:last-child {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-width: 0px 1px 0px 1px;

  }
}

.card {
  background-color: white;
  border-radius: $roundness;
  margin: 2px 0px;
}

.tray {
  @extend .card;
  overflow: hidden;
  box-shadow: 0px 0px 2px $shadow;
  display: grid;
  grid-gap: $spacing / 2;
  grid-template-rows: 1fr;
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  margin: 0px;
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
  color: #777;
}

h3 {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}

p {
  margin: 0px;
  padding: $spacing / 2 $spacing;
  line-height: 140%;
}

ul {
  padding: 0px $spacing / 2;
  margin: 0px;
}

li {
  padding: $spacing / 2 $spacing / 2 $spacing / 4 $spacing / 2;
  border-bottom: 1px solid #eee;
  list-style-type: none;
  line-height: 140%;
}

input[type=text], input[type=file], textarea {
  padding: $spacing / 1.4 $spacing / 2 $spacing / 2 $spacing / 2;
  border-radius: $spacing / 4;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  resize: none;
  margin: 0px $spacing / 2;
  &:focus {
    border-style: solid;
  }
}

button, .button {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #eee;
  border-radius: $roundness / 2;
  border: 1px solid #ccc;
  padding: $spacing 0 $spacing / 1.3 0;
  font-family: inherit;
  pointer-events: auto;

  &:hover {
    background-color: #ddd;
    cursor: pointer;
  }
}

.tray > button:last-child {
  border-radius: 0px 0px $roundness $roundness;
  border-width: 1px 0px 0px 0px;
  margin: 1px;
}

.tray > :last-child {
  margin-bottom: $spacing / 2;
}

.bar {
  display: grid;
  grid-column-gap: $spacing / 2;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: 1fr fit-content(100%);
  align-items: center;

  background-size: cover;
  background-position: center;

  &[image] {
    height: 400px;
    border: 1px solid #ccc;
    border-width: 1px 0px;
    background-color: #eee;
    padding: $spacing / 1.5;
    align-items: end;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100%));

    &:first-child {
      border-width: 0px;
    }

    h1,h2,h3,h4,h5,h6 {
      color: white;
      background-color: black;
      padding: $spacing / 2;
      border-radius: $roundness;
      justify-self: start;
    }

    &:not(:first-child) {
      .icons {
        opacity: 0.2;
      }
      &:hover {
        .icons {
          opacity: 1;
        }
      }
    }

    .icons {
      display: grid;
      grid-column-gap: $spacing / 2;
      justify-self: end;
      transition: opacity 0.1s linear;
      background-color: black;
      border-radius: $roundness;
      overflow: hidden;

      .material-icons {
        color: white;
        padding: $spacing / 2;

        &:not(:first-child):not(:last-child) {
          padding: $spacing / 2 0px;
        }

        &:hover {
          color: rgba(255, 255, 255, 0.8)
        }
      }
    }
  }

  &[padded] {
    padding: 0px $spacing / 2;
  }

  &[sided] {
    grid-template-columns: 1fr fit-content(100%);
  }

  &:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: $spacing $spacing $spacing/1.5 $spacing;
    background-color: rgb($background, 1);
  }
  * {
    grid-row-start: 2;
  }
}

img {
  border-radius: $roundness;
  display: block;
  margin: 0px;
  padding: 0px $spacing / 2;
  width: 100%;
}

.material-icons {
  padding: 5px;
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    cursor: pointer;
    border-radius: 100%;
  }
}
